@font-face {
  font-family: 'fr';
  src: url('./fonts/fr.eot');
  src: url('./fonts/fr.eot?1#iefix') format('embedded-opentype'),
       url('./fonts/fr.woff2') format('woff2'),
       url('./fonts/fr.woff') format('woff'),
       url('./fonts/fr.ttf') format('truetype'),
       url('./fonts/fr.svg?1#fr') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fluentReports {
    background-color: white;
    vertical-align: top;
    display: grid;
    width: 100%;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px calc(100% - 51px);
    grid-gap: 0px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    overflow: hidden;
}

.frPaperWidthLayout {
    border-left: 1px dotted red;
    pointer-events: none;
}

.frGrid {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.fluentReports input[type="input"], .fluentReports select {
    border: #000000 thin solid;
    padding: 2px;
    margin: 1px;
}

.frTitledLabel {
    position: absolute;
    top: -8px;
    left: -2px;
    font-size: 10px;
    line-height: 10px;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    background-color: white;
}

.frLabel, .frField, .frTitledElement {
    border: transparent solid 3px;
    min-Width: 30px;
}

.fluentReports .frSelected {
    border: #30c7ff solid 3px;
    border-radius:10%;
}


.fluentReports .frToolBar {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: #207aff;
}

.fluentReports .frPropScroller {
    grid-column: 1;
    grid-row: 2;
    background-color: #207aff;
    overflow-y: auto;
    overflow-x: hidden;
}

.fluentReports .frProperties {
    background-color: #207aff;
    position: relative;
}

.frTableProps {
    border-collapse: collapse;
    border: 1px black dashed;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(100% - 8px);
}

.frPropTitle {
    font-weight: bolder;
}

.fluentReports table.frTableProps td {
    border: 1px black dashed;
    width: 50%;
    font-size: 10pt;
    margin: 2px;
}


.fluentReports .frReport {
    grid-column: 2;
    grid-row: 2;
    margin-top: 1px;
    margin-left: 1px;
    width: 100%;
    padding: 0px;
    margin-right: 0px;

    background-color: grey;
    overflow-y: scroll;
    overflow-x: hidden;
}

.frDialog {
    left: 50%;
    top: 50%;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    transform: translate(-50%, -50%);
}
.fluentReports .frReportInner {
    background-color: grey;
    left: 0px;
    width: calc(100% - 2px);
    position: relative;
}

.fluentReports A.frIconmenu {
    margin-top: 5px;
    background-color: #cacaca;
    color: black;
    border: black 1px solid;
    padding: 10px;
    font-size: 120%;
    cursor: pointer;
}

.fluentReports .frLineWrapper {
    position: absolute;
    width: 100%;
    pointer-events: auto;
}

.fluentReports .frLineText {
    background-color: white;
    padding: 1px 2px;
    border: solid black 1px;
    opacity: .1;
}

.fluentReports .frLineIcon {
    background-color: white;
    padding: 1px 2px;
    border: solid black 1px;
}

.fluentReports .frLineText:hover {
    opacity: 1.0;
}

.fluentReports .frLine {
    background-color: white;
    border: black 1px dashed;
    width: calc(100% - 2px);
    height: 0px;
}

.fluentReports .frIconSpacer {
    margin-right: .4em;
}

.fluentReports .frPropButton {
    margin-left: 4px;
    margin-right: 4px;
    width: calc(100% - 8px);
}

.fluentReports .frPropInput {
    height: 21px;
    line-height: 21px;
}

.frIcon {
  font-family: "fr";
  font-style: normal;
  font-weight: normal;
  speak: none;
  margin-left: 1px;

  display: inline-block;
  text-decoration: inherit;
  zwidth: 1em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.fluentReports .frHidden {
    display: none;
}


/*
   Animation example, for spinners
*/
.fluentReports .frAnimateSpin {
    -moz-animation: frSpin 2s infinite linear;
    -o-animation: frSpin 2s infinite linear;
    -webkit-animation: frSpin 2s infinite linear;
    animation: frSpin 2s infinite linear;
    display: inline-block;
}
@-moz-keyframes frSpin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-webkit-keyframes frSpin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-o-keyframes frSpin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-ms-keyframes frSpin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes frSpin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

