.idea/
node-modules/
node_modules
examples/
test/
.npmignore
.gitignore
*.tgz
*.tar
*.pdf
*.ttf
*.TTF
*.exe
*.bat
*.stackdump
browser/
projectFilesBackup/
examples/
examples/test
test/
testmem.js
test.js
fr.js
*.txt
docs/
.github/
*.tgz
*.zip
*.tar
generator/*.htm
generator/fonts/
.editorconfig
generator/unused/
generator/build.sh
generator/fluentReportsBrowser.js
generator/plain-draggable.js
generator/webcomponent.html
